.progressMenu .btn {
    background-color: initial !important;
    border: none !important;
    font-size: 12px !important;
}

.progressMenu .stepTodo {
    color: orange !important;
}
.progressMenu .stepDisabled {
    color: lightgray !important;
}
.progressMenu .currentStep {
    font-weight: bold;
    color: orange !important;
    text-decoration: underline
}
.progressMenu .currentStepDone {
    font-weight: bold;
    color: green !important;
    text-decoration: underline
}
.progressMenu .currentStepDone:after {
    content: '\2713';
    display: inline-block;
    padding-right: 2px;
}

.progressMenu .stepDone {
    color: green !important;
}
.progressMenu .stepDone:after {
    content: '\2713';
    display: inline-block;
    color: green;
    padding-right: 2px;
}
